@media screen and (max-width: 1125px) {

    .site-header h1 {
        left: 100px;
    }

    .main-nav {
        right:100px;
    }
    
}

@media screen and (max-width: 980px) {

    .site-header h1 {
        left: 5%;
    }

    .main-nav {
        right:5%;
    }

    .main-content {
        line-height: auto;
        margin-bottom: 80%;
        margin-left: 5%;
        width: 57%;
        font-size: 12px;
        height: 10%;
    }

}

@media screen and (max-width: 768px) {

    .site-header h1 {
        left: 5%;
    }

    .main-nav {
        right:5%;
    }

    .main-content {
        line-height: auto;
        margin-left: 5%;
        margin-bottom: 10%;
        width: 87%;
        font-size: 12px;
        height: 10%;
    }

}

@media screen and (max-width: 640px) {

    .site-header h1 {
        left: 5%;
    }

    .main-nav {
        right:5%;
    }

    .main-content {
        line-height: auto;
        margin-left: 5%;
        margin-bottom: 10%;
        width: 87%;
        font-size: 12px;
        height: 10%;
    }

}