@media screen and (max-width: 1125px) {

    .site-header h1 {
        left: 100px;
    }

    .main-nav {
        right:100px;
    }
    
}

@media screen and (max-width: 980px) {

    .site-header h1 {
        left: 5%;
    }

    .main-nav {
        right:5%;
    }

    .main-content {
        line-height: auto;
        margin-bottom: 80%;
        margin-left: 5%;
        width: 57%;
        font-size: 12px;
        height: 10%;
    }

    .portfolio-content {
        margin-bottom: 80%;
        margin-left: 5%;
        width: 60%;
     }

    .portfolio-content a {
        left: 0%;
        margin-bottom: 10%;
    }

    .portfolio-content img {
        width: 236px;
    }

}

@media screen and (max-width: 768px) {

    .site-header h1 {
        left: 5%;
    }

    .main-nav {
        right:5%;
    }

    .main-content {
        line-height: auto;
        margin-left: 5%;
        margin-bottom: 10%;
        width: 87%;
        height: 10%;
    }

    .portfolio-content {
        margin-bottom: 80%;
        margin-left: 5%;
        width: 87%;
        height: 845px;
     }

    .portfolio-content a {
        left: 0%;
        margin-bottom: 10%;
        margin: 5%;
    }

    .portfolio-content img {
        width: 236px;
    }

}

@media screen and (max-width: 640px) {

    .site-header h1 {
        margin-right: 10%;
        width: 100%;
        text-align: center;
        left:0%;
    }

    .main-nav {
        width: 100%;
        text-align: center;
    }

    .main-content {
        line-height: auto;
        margin: 5% 6%;
        width: 87%;
        font-size: 12px;
        height: 10%;
    }

    .portfolio-content {
        margin-bottom: 80%;
        margin-left: 5%;
        width: 87%;
        height: 1275px;
     }

    .portfolio-content a {
        left: 0%;
        margin-bottom: 10%;
        margin: 5%;
    }

    .portfolio-content img {
        width: 450px;
    }

}